section.modalLogin
    .modalLogin__opacity
    .modalLogin__content
        .modalLogin__box
            .modalLogin__content__top
                .modalLogin__close x
            .modalLogin__box--item#optionAcess(style="display: block")
                .modalLogin__middle
                    h2.modalLogin__title MINHA CONTA
                    p.subTitle Usar uma das opções para confirmar sua identidade:
                    .btnCotent
                        a(href="#" class="createaccount") Criar conta
                        a(href="#" class="hasaccount") Já possuo cadastro
            .modalLogin__box--item#searchCnpj(style="display: none")
                .modalLogin__middle
                    h2.modalLogin__title Cadastre-se
                    .contentForm
                        label(for="cnpj") CNPJ
                        input(type="text" id="cnpj" placeholder="12.345.678/0001-90")
                    .resultCnpj(style="display: none")
                        h3.resultCnpj__title ESTES SÃO OS SEUS DADOS?
                        .resultCnpj__info
                            .resultCnpj__info--item
                                p.typeItem Nome Fantasia
                                p.dataresult.nomeFantasia LOJA TACTICAL
                            .resultCnpj__info--item
                                p.typeItem Razão Social
                                p.dataresult.info TACTICAL DEPARTAMENTOS LTDA
                            .resultCnpj__info--item
                                p.typeItem Endereço
                                p.dataresult.info Avenida Paulista, 1200, São Paulo - SP - CEP 00000-000
                    .btnCotent
                        a(href="#" class="nextLogin btnOrange") PRÓXIMO
                        a(href="#" class="backOption btnBorder") VOLTAR
            .modalLogin__box--item#login(style="display: none")
                .modalLogin__middle
                    h2.modalLogin__title acesse sua conta
                    .contentForm
                        .item
                            label(for="login-cnpj") CNPJ
                            input(type="text" id="login-cnpj" placeholder="12.345.678/0001-90")
                        .item
                            label(for="senha") Senha
                            input(type="password" id="senha" placeholder="*****************")
                    .btnCotent
                        a(href="#" class="main-login btnOrange") ENTRAR
                        a(href="#" class="backOption btnBorder") VOLTAR